<div id="background_header"></div>
<div id="background_body"></div>
<div id="chat_container">
  <div id="sidebar">
    <div id="sidebar_header"></div>
    <div id="searchbox">
      <img
        width="20px"
        src="../assets/explore+find+magnifier+search+icon-1320185008030646474.png"
        alt="search"
      />
      <input type="text" placeholder="search or start the new chat" />
    </div>
    <div id="sidebar_content">
      <div id="noconversation">All Chats are archived</div>
    </div>
  </div>
  <div id="chat"></div>
</div>
<router-outlet></router-outlet>
